* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    color:azure;
}


@font-face {
  font-family: Syncopate;
  src: url("Syncopate/Syncopate-Bold.ttf");
  font-weight: bold;
}


/**************************
        HEADER`
***************************/
header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);;
    mix-blend-mode: screen;
}

.nav-flex, .head-flex {
    display: flex;
    flex: auto;
}

.title {
    flex: 1;
    padding-left:  20px;
    margin: auto;
    user-select: none;
    font-family: 'Syncopate', 'Sans Serif';
    font-size: 150%;
    letter-spacing: 4px;
    word-spacing: 10px;
    color: black;
}

#main-nav {
    display: flex;
    flex: 4;
    margin: auto;
    text-align: right;
    margin-right: 1%;
}

#main-nav {
    display: flex;
    flex: 1.5;
    justify-content: space-around;
    text-align: right;
}

#main-nav li {
    list-style: none;
}

#main-nav li a:link,
#main-nav li a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    letter-spacing: 2px;
    user-select: none;
}


#main-nav li a:hover,
#main-nav li a:active {
    /*border-bottom: 3px solid black;*/
    color: rgba(3, 77, 74, 0.85);
    text-decoration: none;
}



/**************************
        MAIN PAGE
***************************/
#main {
    background-position: center;
    background-size: cover;
    align-content: top;
}

/* VIDEO BACKGROUND */
.video-bg {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.video-bg video {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    object-fit: cover;
}



.video-overlay{
    position: absolute;
    background-image: linear-gradient(45deg, rgba(0, 0, 23, 0.70), rgba(0, 0, 0, 1));
    width: 100%;
    height: 100vh;
    z-index: 1;
}


.main-text {
    position: absolute;
    display: flex;
    font-size: 250%;
    top: 110px;
    right: 70px;
    color: rgba(255, 255, 255, 0.6);
    z-index: 2;
}



/**************************
        PROJECTS
***************************/

#projects {
    background-image: linear-gradient(rgba(30, 144, 255, 0.8), rgba(0, 0, 0, 1)), url(img/rockies.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    overflow-y: scroll;
    
}



/**************************
        SKILLS
***************************/

#skills {
    background-color: #000;
    display: flex;
    /*background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 70px 40px;*/
}



/**************************
        ABOUT
***************************/



#about {
    background-image: /*rgb(30, 144, 255);*/  linear-gradient(167deg, rgb(41, 188, 131) 90%, rgb(0, 0, 0, 1) 100%);
    /*background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 70px 40px;*/
}



/**************************
        FOOTER
***************************/
.footer-box {
    display: flex;
    position:absolute;
    height: 100vh;
    width: 100%
}

#footer {
    display: flex;
    position:fixed;
    bottom: 0px;
    height: 30px;
    z-index: 1;
}

.footer {
    right: 10px;
    bottom: 0px;
    position: fixed;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer ul li {
    margin: 0 10px;
}

/*.ion-mail,*/ 
.ion-linked,
.ion-github,
.ion-res{
    color: rgba(255, 255, 255, 0.30);
    font-size: 170%;
    -webkit-transition: color 0.8s;
    transition: color 0.8s;
} 

.ion-linked:hover {
    color: #007bb5;
}

.ion-github:hover {
    background-color: rgba(255, 255, 255, 0.70);
    color: #000;
    border-radius: 50%;
}

.ion-res:hover {
    color: #fff;
}

/*.ion-mail:hover {
    color: #dd4b39;
}*/

/* RESUME POPUP */
.modal {
    display:none;
    position:absolute; 
    z-index: 1; 
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    padding-top: 80px;
}

.modal-content {
    margin: 0px auto;
    width: 70%;
    height: 80%;
}

.close {
    color: #e30f0f;
    position:inherit;
    float: right;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    margin: 5px 0 0 0;
    margin: 5px 0 0 0;
}

.close:hover,
.close:focus {
  color: #760000;
  text-decoration: none;
  cursor: pointer;
}

.res-link{
    position:inherit;
    float: left;
    margin: 20px 3px 3px 3px;
}

.res-link a:link, .res-link a:visited {
    text-decoration: none;
    font-size: 70%;
}

.res-link a:active, .res-link a:hover {
    color: rgba(255, 255, 255, 0.70);
}

#print{
    margin: -5px 0;
}

#iframe {
    border: 0px;
    width: 100%;
    margin-top: 0px;
    height: 90%;
}

.res {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}